

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap");


:root{
    --global-color: #1a202c;
    --text-color: #000000;
    --global-menu-color:  #e60fee;
    --global-text-color: #ffffff;
    --global-menu-hover-color: #0de8f3;
    --box-color:  #323d53;
    --box-shadow-color:  #8a8ca1;
}

html{
    scroll-behavior: smooth;
}

header{

  width: 100%;
  background: var(--global-color);
}

body{
    margin: 0;
    padding: 0;
    height: 51rem;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--global-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--global-menu-color);
    border-radius: 50px;
 
}

  body::-webkit-scrollbar-thumb:hover {
    background: var(--global-menu-hover-color);
  }

*{
    font-family: 'Poppins', sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
  }
  
  .burger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger.open .line {
    background-color: transparent;
  }
  
  
  .line {
    width: 2rem;
    height: 4px;
    background-color:var(--global-menu-color);
    transition: 0.5s;
  }

  .burger:hover .line {
    background-color: var(--global-menu-hover-color);
    width: 2.5rem;

    
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:transparent;
    backdrop-filter: blur(20px);
    padding: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .menu.open {
    height: 100vh;
  }
  
  .menu li {
  margin-top: 4rem;
  margin-left: 45rem;
  margin-bottom: 3rem;
  width: 25rem;
  transition: 1s;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.menu.open li {
    opacity: 1;
  }
  
  .menu li:nth-child(1) {
    transition-delay: 0.5s;
  }
  
    .menu li:nth-child(2) {
        transition-delay: 1s;
    }

    .menu li:nth-child(3) {
        transition-delay: 1.5s;
    }

    .menu li:nth-child(4) {
        transition-delay: 2s;
    }

    .menu li:nth-child(5) {
        transition-delay: 2.5s;
    }

    .menu li:nth-child(6) {
        transition-delay: 3s;
    }
  
  .menu a {
    color: var(--global-menu-color);
    text-decoration: none;
    font-size: 3rem;
    transition: 0.5s;
;
}

  .menu a:hover {
    color: var(--global-menu-hover-color);
    text-decoration: none;
    font-size: 4rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998;
  }
  
  .overlay.open {
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  
  .close {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  
  .close:before,
  .close:after {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 4px;
    background-color: var(--global-text-color);  /*Remplacezcettecouleurparcellequevoussouhaitez*/
    top: 50%;
    left: 0;
    background:var(--global-menu-color);
    transition: transform 0.3s ease-in-out;
    transition: 1s;
  }


  .close:hover::before,
  .close:hover::after {
    background: var(--global-menu-hover-color);
    width: 3rem;

  }
  
  .close:before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .close:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  

  .menu.open + .close {
    opacity: 1;
    visibility: visible;
  }
  
  .header {
    display: flex;
    width: 120rem;
    height: 8rem;
    background: var(--global-color);
    justify-content: center;
    align-items: center;
  }

.Logo{
  display: flex;
  position: absolute;

}


.social-links{
  position: absolute;
  margin-left: -35rem;
    margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  ;
}



.social-links a {
  position: relative;
  display: inline-flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: .2rem solid var(--global-menu-hover-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--global-menu-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;    
}

.social-links a:hover{
  color: var(--global-menu-hover-color);
}

.social-links a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--global-menu-color);
  z-index: -1;
  transition: .5s;

}

.social-links a:hover::before {
  width: 100%;
}


.btn-box {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 15rem;
  height: 5rem;
}

.btn-box {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 15rem;
    height: 5rem;
  }
  
  
  .profil { 
    font-size: 1.7rem;
    color: var(--global-menu-color);
    font-weight: 500;
    margin-top: 2rem;
    height: 2rem;
    text-decoration: none;
    margin-left: -3.5rem;
    transition: .3s;
  }
  
  .admin {
    font-size: 1.7rem;
    color: var(--global-menu-color);
    font-weight: 500;
    height: 2rem;
    text-decoration: none;
    margin-left: -5rem;
    transition: .3s;
  }
  
  .btn-box a:hover {
    color: var(--global-menu-hover-color);
  }

.Login a {
  font-size: 1.7rem;
  color: var(--global-text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;

}

.btn-box p {
  font-size: 1.7rem;
  color: var(--global-menu-color);
  font-weight: 500;
}

.btn-box .Login:hover{
  color: var(--global-menu-hover-color);
}

.btn-box {
  position: inherit;
  margin-left: 45rem;
}

.btn-box .Login{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background: transparent;
  border: .2rem solid var(--global-menu-hover-color);
  border-radius: .8rem;
  font-size: 1.3rem;
  font-weight: 550;
  letter-spacing: .1rem;
  color: var(--global-menu-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .Login:nth-child(2) {
  background: transparent;
  color: var(--global-text-color);
}

.btn-box .Login:nth-child(2):hover {
  color: var(--global-menu-color);
}

.btn-box .Login:nth-child(2)::before {
  background:var(--global-text-color);
}

.btn-box .Login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--global-menu-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .Login:hover::before{
  width: 100%;


}

body{
  background: var(--global-color);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  height: 100%;
  
}

.navbar-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45rem;
}

.navbar-2 a{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  margin-left: 1rem;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background: transparent;
  border: .2rem solid var(--global-menu-hover-color);
  border-radius: .8rem;
  font-size: 1.3rem;
  font-weight: 550;
  letter-spacing: .1rem;
  color: var(--global-menu-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.navbar-2 a:hover{
  color: var(--global-menu-hover-color);
}

.navbar-2 a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--global-menu-color);
  z-index: -1;
  transition: .5s;
}

.navbar-2 a:hover::before{
  width: 100%;
}

.game-container {
  position: absolute;
  display: grid;
  height: 70%;
  grid-template-columns: repeat(5, 1fr); /* Crée une grille de 6 colonnes égales */
  grid-gap: 35px; /* Espacement entre les cartes */
  margin-top: 7rem;
  margin-left: -1rem;
  overflow-y: auto;
}

.game-card {
  width: 90%; /* Chaque carte occupe toute la largeur de sa colonne */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ajoutez ces styles pour centrer le contenu de la carte */

.game-card img {
  display: block;
  margin: 0 auto 10px;
}

.game-details {
  text-align: center;
}

.btn-favorite{
  position: relative;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  color: var(--global-menu-color);
  background: transparent;
  bottom: 0;
  top: 0;
  transition: 1s;
  box-shadow: 0 0 10px var(--box-shadow-color);
 
}

.btn-favorite:hover{
  background: var(--global-menu-hover-color);
}