

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap");


:root{
    --global-color: #1a202c;
    --text-color: #000000;
    --global-menu-color: #e60fee;
    --global-text-color: #ffffff;
    --global-menu-hover-color: #0de8f3;
    --box-color:  #323d53;
    --box-shadow-color:  #8a8ca1;
}

html{
    scroll-behavior: smooth;
}

header{

  width: 100%;
  background: var(--global-color);
}

body{
    margin: 0;
    padding: 0;
    height: 51rem;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--global-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--global-menu-color);
    border-radius: 50px;
 
}

  body::-webkit-scrollbar-thumb:hover {
    background: var(--global-menu-hover-color);
  }

*{
    font-family: 'Poppins', sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
  }
  
  .burger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger.open .line {
    background-color: transparent;
  }
  
  
  .line {
    width: 2rem;
    height: 4px;
    background-color:var(--global-menu-color);
    transition: 0.5s;
  }

  .burger:hover .line {
    background-color: var(--global-menu-hover-color);
    width: 2.5rem;

    
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:transparent;
    backdrop-filter: blur(20px);
    padding: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .menu.open {
    height: 100vh;
  }
  
  .menu li {
  margin-top: 4rem;
  margin-left: 45rem;
  margin-bottom: 3rem;
  width: 25rem;
  transition: 1s;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.menu.open li {
    opacity: 1;
  }
  
  .menu li:nth-child(1) {
    transition-delay: 0.5s;
  }
  
    .menu li:nth-child(2) {
        transition-delay: 1s;
    }

    .menu li:nth-child(3) {
        transition-delay: 1.5s;
    }

    .menu li:nth-child(4) {
        transition-delay: 2s;
    }

    .menu li:nth-child(5) {
        transition-delay: 2.5s;
    }

    .menu li:nth-child(6) {
        transition-delay: 3s;
    }
  
  .menu a {
    color: var(--global-menu-color);
    text-decoration: none;
    font-size: 3rem;
    transition: 0.5s;
;
}

  .menu a:hover {
    color: var(--global-menu-hover-color);
    text-decoration: none;
    font-size: 4rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998;
  }
  
  .overlay.open {
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  
  .close {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  
  .close:before,
  .close:after {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 4px;
    background-color: var(--global-text-color);  /*Remplacezcettecouleurparcellequevoussouhaitez*/
    top: 50%;
    left: 0;
    background:var(--global-menu-color);
    transition: transform 0.3s ease-in-out;
    transition: 1s;
  }


  .close:hover::before,
  .close:hover::after {
    background: var(--global-menu-hover-color);
    width: 3rem;

  }
  
  .close:before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .close:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  

  .menu.open + .close {
    opacity: 1;
    visibility: visible;
  }
  
  .header {
    display: flex;
    width: 120rem;
    height: 8rem;
    background: var(--global-color);
    justify-content: center;
    align-items: center;
  }

.Logo{
  display: flex;
  position: absolute;

}


.social-links{
  position: absolute;
  margin-left: -35rem;
    margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  ;
}



.social-links a {
  position: relative;
  display: inline-flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: .2rem solid var(--global-menu-hover-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--global-menu-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;    
}

.social-links a:hover{
  color: var(--global-menu-hover-color);
}

.social-links a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--global-menu-color);
  z-index: -1;
  transition: .5s;

}

.social-links a:hover::before {
  width: 100%;
}


.btn-box {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 15rem;
  height: 5rem;
}


.profil { 
  font-size: 1.7rem;
  color: var(--global-menu-color);
  font-weight: 500;
  margin-top: 2rem;
  height: 2rem;
  text-decoration: none;
  margin-left: -3.5rem;
  transition: .3s;
}

.admin {
  font-size: 1.7rem;
  color: var(--global-menu-color);
  font-weight: 500;
  height: 2rem;
  text-decoration: none;
  margin-left: -5rem;
  transition: .3s;
}

.btn-box a:hover {
  color: var(--global-menu-hover-color);
}

.Login a {
  font-size: 1.7rem;
  color: var(--global-text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;

}


.btn-box .Login:hover{
  color: var(--global-menu-hover-color);
}

.btn-box {
  position: inherit;
  margin-left: 45rem;
}

.btn-box .Login{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background: transparent;
  border: .2rem solid var(--global-menu-hover-color);
  border-radius: .8rem;
  font-size: 1.3rem;
  font-weight: 550;
  letter-spacing: .1rem;
  color: var(--global-menu-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .Login:nth-child(2) {
  background: transparent;
  color: var(--global-text-color);
}

.btn-box .Login:nth-child(2):hover {
  color: var(--global-menu-color);
}

.btn-box .Login:nth-child(2)::before {
  background:var(--global-text-color);
}

.btn-box .Login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--global-menu-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .Login:hover::before{
  width: 100%;


}


.container {
  display: flex;
  position: relative;
  width: 118rem;
  height: 100%;
  overflow: hidden;
  background: var(--global-color);
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 85%;
  background: var(--box-color);
  margin-top: 2rem;
  padding: 0;
  margin-left: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px #8a8ca1;
}

.head h1 {
  display: flex;
  font-size: 3.5rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline var(--global-menu-color) 3px solid;
  letter-spacing: .2rem;
}

.head p {
  display: flex;
  font-size: 1rem;
  width: 25rem ;
  color : var(--global-text-color);
  letter-spacing: .1rem;
  margin-bottom: 4rem;
}

.carousel {
  display: block;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  margin-left: 15rem;
  margin-top: 2rem;
  width: 45rem;
  height: 45rem;
  border-radius: 1rem;
}

.glide__slides {
  display: flex;
  justify-content: center;
  align-items: center;;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
}

.glide__slides img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glide__track {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button.glide__arrow {
  position: absolute;
  display: space-between;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.glide__arrow--next {
  right: 0;
}

.bx-skip-previous,
.bx-skip-next {
  font-size: 3rem;
  color: transparent;
  transition: .5s;
  background: transparent;
}

.bx-skip-previous:hover,
.bx-skip-next:hover {
  color: var(--global-menu-hover-color);
}


/* Gaming Buzz */


.news {
  display: block;
  position: absolute;
  width: 100%;
  height: 65rem;
  background: var(--box-color);
  padding: 0;
  list-style: none;
  
}

.news h1 {
  display: flex;
  font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
  position: relative;
  font-size: 3.5rem;
  margin-top: -2px;
  left: 40%;
  color: var(--global-menu-color) ;
  font-weight: 600;
  text-align: center;
  margin-bottom: -5px;
  letter-spacing: .2rem;
  text-decoration: underline var(--global-menu-hover-color) 3px solid;

}

.news .centent {
  display: block;
  position: relative;
  width: 80%;
  height: 78%;
  margin-left: 15rem;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}


.news .centent article {
  display: inline-block;
  width: 31%; /* Ajustez la largeur selon vos besoins */
  height: 50rem;
  margin: 10px;
  vertical-align: top;
  background: var(--global-color);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 20px #8a8ca1;

}

.news p {
  display: block;
  position: relative;
  font-size: 1rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  letter-spacing: .1rem;
}

.news .centent img {
  display: block;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  object-fit: cover;

}

.news .centent h2 {
  display: block;
  position: relative;
  font-size: 1.5rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
  border-radius: 1rem 1rem 0 0;


}

.news .centent p {
  display: block;
  position: relative;
  font-size: 1rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  height: 17rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  letter-spacing: .1rem;
  
}

.news-content input {
  margin-top: -9rem;
}

.news-content input,
.news-content button{
  display: block;
  position: relative;
  width: 75%;
  height: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-align: center;
  background: transparent;
  border: 1px solid var(--global-menu-hover-color);
  color: var(--global-text-color);
  transition: .5s;
  cursor: pointer;
}

.news-content input:hover ,
.news-content button:hover{
  background: var(--global-menu-color);
  color: var(--global-menu-hover-color);
}

.news-content h3 {
  font-size: 1.2rem;
  color: var(--global-text-color);
}

.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 10rem;
  background: var(--global-color);
  justify-content: center;
  align-items: center;
  margin-top: 63rem;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 20px #8a8ca1;
}

.footer-content {
  display: flex;
  position: relative;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-content h1 {
  display: flex;
  font-size: 2rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-left: 52rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
  text-decoration: underline var(--global-menu-color) 3px solid;
}

.footer-content span {
  display: flex;
  font-size: 2rem;
  color: var(--global-menu-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
}

.footer-content p {
  display: flex;
  font-size: .8rem;
  color: var(--global-text-color) ;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
}

.footer-content a {
  display: flex;
  font-size: .8rem;
  color: var(--global-text-color) ;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
  text-decoration: underline var(--global-menu-color) 3px solid;
}

.footer-content a:hover {
  color: var(--global-menu-hover-color);
}

.footer-content .contact {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 50rem;
}

.contact  {
 margin-bottom: 3rem;
}

.phone {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: -6rem ;
}

.contact h3 {
  display: flex;
  font-size: 1rem;
  color: var(--global-menu-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
  text-decoration: underline var(--global-menu-color) 1px solid;
}

.contact span {
  display: flex;
  font-size: 1rem;
  color: var(--global-text-color) ;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: .2rem;
}

.bxs-phone {
  font-size: 1.5rem;
  color: var(--global-menu-color);
  margin-left: 6rem;
}

.bxs-envelope {
  font-size: 1.5rem;
  color: var(--global-menu-color);
}