<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <title>Examen ECF</title>
</head>
<header>
    <nav class="navbar">
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="menu" onclick="closeMenu()">
          <li><a href="{{ url_for('home') }}" onclick="closeMenu()">Home</a></li>
          <li><a href="{{ url_for('game') }}" onclick="closeMenu()">Games</a></li>
          <li><a href="{{ url_for('about') }}" onclick="closeMenu()">About</a></li>
          <li><a href="{{ url_for('contact') }}" onclick="closeMenu()">Contact</a></li>
        </ul>        
        <span class="close"></span>
      </nav>
      <div class="overlay"></div>
      <div class="header">
          <div class="Logo">
            <img src="{{ url_for('static', filename='images/gamesoft-logo-header-1.png') }}" alt="logo">
            <div class="social-links">
              <a href="https://www.facebook.com/GoGamesoft/"><i class="bx bxl-facebook-circle"></i></a>
              <a href="https://twitter.com/gamesoft"><i class="bx bxl-twitter" ></i></a>
              <a href="https://www.instagram.com/gogamesoft/"><i class="bx bxl-instagram" ></i></a>
              <a href="https://www.pinterest.co.uk/gamesoft/"><i class="bx bxl-pinterest-alt" ></i></a>
            </div>

            <div class="btn-box">
              {% if 'username' in session %}
                  <a href="{{ url_for('profil') }}" class="profil">{{ session['username'] }}</a>
                  {% if session['group'] == 'admin' or session['group'] == 'redacchef' or session['group'] == 'redac' %}
                            <a href="{{ url_for('admin') }}" class="admin">Admin</a>
                        {% endif %}
                  <form  action="{{ url_for('logout') }}" method="POST">
                      <button class="Login" type="submit">Déconnexion</button>
                  </form>
              {% else %}
                  <!-- L'utilisateur n'est pas connecté, afficher le bouton de connexion -->
                  <a href="{{ url_for('login') }}" class="Login">login</a>
              {% endif %}
          </div>
           
            </div>
          </div>
      </div>
</header>

<body>

<div class="container">
  <div class="box">
  <h1>Administration</h1>
</div>

<div class="table">
  
  <div class="nav">
    <h3>Navigation</h3>
    <div class="nav-box">
      <button id="users-btn">Utilisateurs</button>
    </div>
    <div class="nav-box">
      <button id="games-btn">Games</button>
    </div>
    <div class="nav-box">
      <button id="message-btn">Centre des Message</button>
    </div>
    <div class="nav-box">
      <button></button>
    </div>
    </div>
    <div class="item" id="content"></div>
    

</div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='JS/index.js') }}"></script>
</body>



</html>